@typeparam T where T : ModelBase, IDocumentParagraphProperties
<br />
<div>
    <FluentNumberField Name="ParagraphSpacingBetweenLinesBefore" @bind-Value="Model.ParagraphSpacingBetweenLinesBefore" Label="Paragraph Spacing Before" ReadOnly="@(Model.IsReadOnly)" Min="0" />
</div>
<div>
    <FluentNumberField Name="ParagraphSpacingBetweenLinesAfter" @bind-Value="Model.ParagraphSpacingBetweenLinesAfter" Label="Paragraph Spacing After" ReadOnly="@(Model.IsReadOnly)" Min="0" />
</div>

@code {
    [Parameter, EditorRequired]
    public required T Model { get; set; }
}
